@media (max-width: 935px){
  .bigScreen{
    display: none;
  }
}
@media (max-width: 614px){
  .middleScreen{
    display: none;
  }
  .stories{
    background-color: #FAFAFA;
    border: none;
  }
}
@media(min-width: 615px){
  .smallScreen{
    display: none;
  }
}