body{
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}
html {
  overflow-x: hidden;
}
.header{
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 54px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
  z-index: 2;
}
.headerContent{
  width: 910px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerContent ion-icon{
  align-self: center;
  font-size: 20px;
  margin-left: 25px;
  border-right: 8px;
}
input{
  width: 215px;
  /* height: 28px;  Verificar*/
  max-height: 28px;
  text-align: center;
  font-size: 12px;
  color: #979797;;
}
.leftIcons img{
  margin-left: 10px;
  margin-top: 15px;
}
.leftIcons ion-icon{
  margin-bottom: 10px;
  padding-right: 11px;
  border-right: 1px solid #DBDBDB;
  margin-left:0px
}
.container {

  margin-top: 54px;
}
.asideBase{
  width: 294px;
  height: 100vh;
}
.aside{
  position: fixed;
  top: 111px;
  width: 293px;
  padding-left: 30px;
}
.container{
  display: flex;
  justify-content: center;
}
.stories{
  background-color: #FFFFFF;
  width: 614px;
  height: 118px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin-top: 34px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  overflow: hidden;
  z-index: -2;
}
.stories ion-icon{
  position: absolute;
  right: 8px;
  font-size: 26px;
  color: #FFFFFF;
}
.stories p{
  font-size: 12px;
  padding: 8px 14px 0px;
  color: #262626;
}
.firstStory{
  padding-left: 60px;
}
.story{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  margin-left: 8px;
}
.storyImage{
  position: relative;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}
.storyPhoto{
  width: 54px;
  border-radius: 54px;
  position: absolute;
  top: 10px;
  left: 7px;
}
.storiesBack{
  position: absolute;
  z-index: -1;
  border-radius: 66px;
  width: 66px;
  bottom: 0px;
  right: 3px;
}
.feed{
  width: 614px;
}
.post{
  background-color: #FFFFFF;
  width: 614px;
  height: 747px;
  border: 1px solid #DBDBDB;
  margin-bottom: 60px;
  border-radius: 3px;
}
.postWithVideo{
  height: auto;
}
video{
  width: 100%;
}
.post img{
  width: 100%;
}
.postTop{
  border-radius: 3px;
  height: 61px;
  border-bottom: 1px solid #DBDBDB;
  display: flex;
  align-items: center;
  position: relative;
}
.postTop img{
  height: 32px;
  width: 32px;
  border-radius: 32px;
  margin-left: 17px;
  margin-right: 15px;
}
.postTop p{
  font-weight: 500;
  font-size: 14px;  
}
.postBottom{
  height: 76px;
  border-top: 1px solid #DBDBDB;
  margin-top: -3px;
  position: relative;
}
.postBottom img{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 7px 5px 0px 17px;
}
.postBottom ion-icon{
  font-size: 22px;
  padding-left: 17px
}
.savePost{
  position: absolute;
  right: 17px;
  top: 14px;
}
.postBottom p{
  margin-top: 7px;
  font-size: 14px;
}
span{
  font-weight: bold;
}
.bottomUp{
  margin-top: 6px;
}
.postTop ion-icon{
  position: absolute;
  right: 18px;
}
.bottomBottom{
  display: flex;
  align-items: center;

}
.mainUser{
  display: flex;
  align-items: center;
}
.bigIcon img{
  height: 56px;
  width: 56px;
  border-radius: 56px;
  margin-right: 17px;
} 
.otherName{
  font-size: 14px;
  padding-left: 11px;
  color: #8E8E8E;
}
.suggestions{
  display: flex;
  padding-top: 24px;
  position: relative;
}
.suggestions p{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #8E8E8E;  
}
.suggestions h4{
  padding-left: 120px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
  position: absolute;
  right: 0px
}
.userSuggestions img{
  width: 32px;
  border-radius: 32px;
}
.newUser{
  display: flex;
  padding-top: 18px;
  position: relative;
}
h3{
  padding-left: 11px;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}
.newUser h6{
  padding-top: 6px;
  padding-left: 11px;
  font-size: 12px;
  color: #8e8e8e;
}
.follow{
  position: absolute;
  right: 0px;
  font-weight: 500;
  font-size: 12px;
  color: #139EF2;
}
.about p{ 
  color: #C7C7C7;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 18px;
}
.bottomMenu{
  position: fixed;
  z-index: 2;
  bottom: 0px;
  height: 54px;
  width: 613px;
  border: 1px solid #dbdbdd;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottomMenu ion-icon{
  font-size: 20px;
}