body{
  font-family: 'Roboto', sans-serif;
}
.header{
  background-color: #FFFFFF;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 54px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
  z-index: 2;
}
.headerContent{
  width: 910px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headerContent ion-icon{
  align-self: center;
  font-size: 20px;
  margin-left: 25px;
  border-right: 8px;
}
.stories{
  justify-content: center;
  display: flex;
  align-items: center;
}
.leftIcons img{
  margin-left: 10px;
  margin-top: 15px;
}
.leftIcons ion-icon{
  margin-bottom: 10px;
  padding-right: 11px;
  border-right: 1px solid #DBDBDB;
  margin-left:0px
}
.container {
  margin-top: 54px;
}
.asideBase{
  width: 294px;
  height: 100vh;
}
.aside{
  position: fixed;
  top: 111px;
  width: 293px;
  padding-left: 30px;
}
.container{
  display: flex;
  justify-content: center;
}
.stories{
  width: 614px;
  height: 118px;
  border: 1px solid #DBDBDB;
  margin-top: 34px;
  margin-bottom: 24px;
  align-items: center;
}
.stories p{
  font-size: 12px;
  padding: 0px 14px;
  color: #262626;
}
.story{
  background-color: indianred;
  width: 190px;

}
.storyImage{
  position: relative;
}
.storiesBack{
  position: absolute;
  width: 66px;
}
.feed{
  width: 614px;
}
.post{
  width: 614px;
  height: 749px;
  border: 1px solid #DBDBDB;
  margin-bottom: 60px;
  border-radius: 3px;
}
.post img{
  width: 100%;
  height: 612px;
}
.postTop{
  border-radius: 3px;
  height: 61px;
  border-bottom: 1px solid #DBDBDB;
  display: flex;
  align-items: center;
}
.postTop img{
  height: 32px;
  width: 32px;
  border-radius: 32px;
  margin-left: 17px;
  margin-right: 15px;
}
.postTop p{
  font-weight: 500;
  font-size: 14px;  
}
.postBottom{
  height: 76px;
  border-top: 1px solid #DBDBDB;
}
.postBottom img{
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.postBottom ion-icon{
  font-size: 20px;
}
.postBottom p{
  font-size: 14px;
}
span{
  font-weight: bold;
}
.bottomBottom{
  display: flex;
}
.mainUser{
  display: flex;
  align-items: center;
}
.bigIcon img{
  height: 56px;
  width: 56px;
  border-radius: 56px;
  margin-right: 17px;
}
.otherName{
  font-size: 14px;
  padding-left: 11px;
  color: #8E8E8E;
}
.suggestions{
  display: flex;
  padding-top: 24px;

}
.suggestions p{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #8E8E8E;  
}
.suggestions h4{
  padding-left: 120px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #262626;
}
.userSuggestions img{
  width: 32px;
  border-radius: 32px;
}
.newUser{
  display: flex;
  padding-top: 18px;
  position: relative;
}
h3{
  padding-left: 11px;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
}
.newUser h6{
  padding-top: 6px;
  padding-left: 11px;
  font-size: 12px;
  color: #8e8e8e;
}
.follow{
  position: absolute;
  right: 0px;
  font-weight: 500;
  font-size: 12px;
  color: #139EF2;
}
.about p{ 
  color: #C7C7C7;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 18px;
}



